
.container, .container-fluid{
 width: 960px !important;
}

body {
    font-family:Arial, Helvetica, sans-serif;

    header{         
        .navigation{
            background:url(images/header-bg.png) repeat;
            
            h3{
                color:gray;
                font-weight:bold;
            }

            nav{
                margin-top:20px;
                ul{
                    display:inline;
                    list-style:none;

                    li{
                        display:inline;
                        margin-left:5px;
                        margin-right:5px;
                    }
                } 
            }
        }     
         
        .searchBox{
            background-color:black;

            nav{
                display:inline-block;
                margin-top:5px;
                margin-bottom:5px;
                color:gray;
                ul{
                    padding-left:0;
                    display:inline;
                    list-style:none;

                    li{
                        a{
                            color:gray;
                            margin-right:5px;
                        }
                        display:inline;                       
                        margin-right:5px;
                    }
                } 
            }

            input{           
                margin-top:3px;
                margin-right:15px;
                border:1px solid gray;
                background-color:black;
                border-radius:10px;

                &:focus{
                    color:white;
                }
            }
        } 
    }

    section{
        border:dotted 1px lightgray;
        color:gray;
        padding-left:10px;
        padding-right:10px;

        h2{
            font-weight:bold;         
        }

        article{
            margin-bottom:15px;
            text-align: justify;
        }
    }
}
