body {

}

div.main-container{

    width:500px;

    /*left border*/
    border-left-width:5px;
    border-left-color:red;
    border-left-style:dashed;

    /*top border*/
    border-top-width:5px;
    border-top-color:yellow;
    border-top-style:dotted;

    /*right border*/
    border-right-width:10px;
    border-right-color:green;
    border-right-style:solid;

    /*bottom border*/
    border-bottom-width:10px;
    border-bottom-color:blue;
    border-bottom-style:double;
}

div.main-container header{    
    display:block;
    margin-top:10px;
    font-size:35px;
    text-align:center;
    text-shadow:5px 5px 5px grey;
}

div.border-blue{
    border-width:2px;
    border-color:blue;
    border-style:solid;
    border-radius:40px;  

    margin:20px;
}

div.border-green{
    border-width:2px;
    border-color:green;
    border-style:solid;
    border-radius:40px;  
}

div.border-yellow{
    border-width:2px;
    border-color:yellow;
    border-style:solid;
    border-radius:40px;  
}

div.nested-container-red{
    border-width:2px;
    border-color:red;
    border-style:solid;
    border-radius:40px;  

    padding:10px;
}

div header.block-style{
    font-size:20px;
    text-align:center;
    text-shadow:5px 5px 5px grey;
    margin:5px;
}

.nested-container-red ul{   
    list-style-type:none; 
    margin-bottom:0px;    
}

.nested-container-red li{
    display:inline-block;
    background-color:#ff6a00;

    border-top-color:#f29757;
    border-left-color:#f29757;
    border-right-color:#b75006;
    border-bottom-color:#b75006;

    border-width:2px;
    border-style:solid;
    padding-left:20px;
    padding-right:20px;
    padding-top:0px;
    padding-bottom:0px;
}

.im-so-cool{
    position:absolute;

    left:478px;
    top:30px;

    background-color:rgba(128, 128, 128, 0.8);
    border-radius:60px;

    display: table-cell;
    vertical-align: middle;
    
    width:130px;
    height:70px;
}

.im-so-cool span{
    text-align:center;
    color:white;
    font-weight:bold;
    display:block;

    border-radius:60px;
    border-color:white;
    border-style:dashed;
    border-width:3px;

    margin: 9px 4px;
    padding: 13px;
}

.circle{
    position: absolute;

    left: 438px;
    top: 86px;

    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 60px;
    display: table-cell;
    vertical-align: middle;

    width: 40px;
    height: 40px;
}

.circle span{
    text-align:center;
    color:white;
    font-weight:bold;
    display:block;

    border-radius:60px;
    border-color:white;
    border-style:dashed;
    border-width:3px;

    margin: 2px;
    padding: 15px;
}

.smallCircle{
    position: absolute;
    left: 408px;
    top: 123px;

    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 60px;
    display: table-cell;
    vertical-align: middle;

    width: 25px;
    height: 25px;
}

.smallCircle span{
    text-align: center;
    color: white;
    font-weight: bold;
    display: block;

    border-radius: 60px;
    border-color: white;
    border-style: dashed;
    border-width: 3px;

    margin: 1px;
    padding: 9px;
}



